In [ ]:
import numpy as np
import pandas as pd
import requests
from sqlalchemy import create_engine

api_key = "MD8gOfRQx4yZ0lS8CfXv6OkVtBLCIdw8"

param_dic = {
    "host"      : "db",
    "database"  : "weather",
    "user"      : "postgres",
    "password"  : "postgres"
}

connect = "postgresql+psycopg2://%s:%s@%s:5432/%s" % (
    param_dic['user'],
    param_dic['password'],
    param_dic['host'],
    param_dic['database']
)
engine = create_engine(connect)

locations = np.array([
    (25.8600,-97.4200),
    (25.9000,-97.5200),
    (25.9000,-97.4800),
    (25.9000,-97.4400),
    (25.9000,-97.4000),
    (25.9200,-97.3800),
    (25.9400,-97.5400),
    (25.9400,-97.5200),
    (25.9400,-97.4800),
    (25.9400,-97.4400),
])

locations_df = pd.DataFrame.from_records(locations, columns=["lat", "lon"])

In [11]:
for ix, row in locations_df.iterrows():
    lat = str(row["lat"])
    lon = str(row["lon"])
    if_exists = 'replace' if ix == 0 else 'append'

    url = "https://api.tomorrow.io/v4/timelines?apikey=" + api_key
    
    payload = {
        "location": tuple(row), # "42.3478, -71.0466",
        "fields": ["temperature", "windSpeed", "windDirection"],
        "units": "metric",
        "timesteps": ["1h"],
        "startTime": "nowMinus1d",
        "endTime": "nowPlus5d"
    }
    headers = {
        "accept": "application/json",
        "Accept-Encoding": "gzip",
        "content-type": "application/json"
    }
    
    response = requests.post(url, json=payload, headers=headers)
    response_json = response.json()
    timelines = response_json["data"]["timelines"]
    timeline = timelines[0]
    intervals = timeline["intervals"]
    df = pd.DataFrame(intervals)
    print(df)
    df = pd.json_normalize(intervals)
    print(df)
    df.to_sql(
        'timeline', 
        con=engine, 
        index=False, 
        if_exists=if_exists
    )
    print("to_sql() done (sqlalchemy)")
    
    # url = "https://api.tomorrow.io/v4/weather/realtime?location=42.3478%2C%20-71.0466&units=metric&apikey" + api_key
    url = "https://api.tomorrow.io/v4/weather/realtime?location=" + lat + "%2C%20" + lon + "&units=metric&apikey" + api_key
    
    headers = {"accept": "application/json"}
    
    response = requests.get(url, headers=headers)
    # values = [response.json()["data"]]
    
    # df = pd.DataFrame(values)
    df = pd.json_normalize(response.json())
    
    
    df.to_sql(
        'realtime', 
        con=engine, 
        index=False, 
        if_exists=if_exists
    )
    print("to_sql() done (sqlalchemy)")
    
    # json_str = json.dumps(response_json["data"]["timelines"], indent=2)
    
    # print(json_str)
    # print(response.json())

                startTime                                             values
0    2024-03-21T18:00:00Z  {'temperature': 23.13, 'windDirection': 232.19...
1    2024-03-21T19:00:00Z  {'temperature': 23.19, 'windDirection': 256.13...
2    2024-03-21T20:00:00Z  {'temperature': 23.63, 'windDirection': 257.5,...
3    2024-03-21T21:00:00Z  {'temperature': 24.19, 'windDirection': 298, '...
4    2024-03-21T22:00:00Z  {'temperature': 24.19, 'windDirection': 320, '...
..                    ...                                                ...
140  2024-03-27T14:00:00Z  {'temperature': 21.22, 'windDirection': 81.78,...
141  2024-03-27T15:00:00Z  {'temperature': 23.09, 'windDirection': 81.78,...
142  2024-03-27T16:00:00Z  {'temperature': 24.56, 'windDirection': 81.78,...
143  2024-03-27T17:00:00Z  {'temperature': 26.03, 'windDirection': 174.04...
144  2024-03-27T18:00:00Z  {'temperature': 27.5, 'windDirection': 174.04,...

[145 rows x 2 columns]
                startTime  values.temperature  values.windDirection  \
0    2024-03-21T18:00:00Z               23.13                232.19
1    2024-03-21T19:00:00Z               23.19                256.13
2    2024-03-21T20:00:00Z               23.63                257.50
3    2024-03-21T21:00:00Z               24.19                298.00
4    2024-03-21T22:00:00Z               24.19                320.00
..                    ...                 ...                   ...
140  2024-03-27T14:00:00Z               21.22                 81.78
141  2024-03-27T15:00:00Z               23.09                 81.78
142  2024-03-27T16:00:00Z               24.56                 81.78
143  2024-03-27T17:00:00Z               26.03                174.04
144  2024-03-27T18:00:00Z               27.50                174.04

     values.windSpeed
0                4.50
1                3.81
2                3.50
3                4.00
4                3.63
..                ...
140              1.42
141              1.05
142              2.05
143              3.05
144              4.04

[145 rows x 4 columns]
to_sql() done (sqlalchemy)
to_sql() done (sqlalchemy)
                startTime                                             values
0    2024-03-21T18:00:00Z  {'temperature': 22.88, 'windDirection': 237.5,...
1    2024-03-21T19:00:00Z  {'temperature': 22.88, 'windDirection': 263.13...
2    2024-03-21T20:00:00Z  {'temperature': 23.13, 'windDirection': 275.63...
3    2024-03-21T21:00:00Z  {'temperature': 24, 'windDirection': 309, 'win...
4    2024-03-21T22:00:00Z  {'temperature': 23.88, 'windDirection': 320.19...
..                    ...                                                ...
140  2024-03-27T14:00:00Z  {'temperature': 21.14, 'windDirection': 87.47,...
141  2024-03-27T15:00:00Z  {'temperature': 23.05, 'windDirection': 87.47,...
142  2024-03-27T16:00:00Z  {'temperature': 24.55, 'windDirection': 87.47,...
143  2024-03-27T17:00:00Z  {'temperature': 26.05, 'windDirection': 332.39...
144  2024-03-27T18:00:00Z  {'temperature': 27.55, 'windDirection': 332.39...

[145 rows x 2 columns]
                startTime  values.temperature  values.windDirection  \
0    2024-03-21T18:00:00Z               22.88                237.50
1    2024-03-21T19:00:00Z               22.88                263.13
2    2024-03-21T20:00:00Z               23.13                275.63
3    2024-03-21T21:00:00Z               24.00                309.00
4    2024-03-21T22:00:00Z               23.88                320.19
..                    ...                 ...                   ...
140  2024-03-27T14:00:00Z               21.14                 87.47
141  2024-03-27T15:00:00Z               23.05                 87.47
142  2024-03-27T16:00:00Z               24.55                 87.47
143  2024-03-27T17:00:00Z               26.05                332.39
144  2024-03-27T18:00:00Z               27.55                332.39

     values.windSpeed
0                3.81
1                3.13
2                3.38
3                3.63
4                3.31
..                ...
140              1.32
141              0.92
142              1.87
143              2.82
144              3.77

[145 rows x 4 columns]
to_sql() done (sqlalchemy)
to_sql() done (sqlalchemy)
                startTime                                             values
0    2024-03-21T18:00:00Z  {'temperature': 23, 'windDirection': 233.88, '...
1    2024-03-21T19:00:00Z  {'temperature': 23.13, 'windDirection': 253.81...
2    2024-03-21T20:00:00Z  {'temperature': 23.31, 'windDirection': 269.19...
3    2024-03-21T21:00:00Z  {'temperature': 24, 'windDirection': 307.63, '...
4    2024-03-21T22:00:00Z  {'temperature': 24, 'windDirection': 319.88, '...
..                    ...                                                ...
140  2024-03-27T14:00:00Z  {'temperature': 21.14, 'windDirection': 87.47,...
141  2024-03-27T15:00:00Z  {'temperature': 23.05, 'windDirection': 87.47,...
142  2024-03-27T16:00:00Z  {'temperature': 24.55, 'windDirection': 87.47,...
143  2024-03-27T17:00:00Z  {'temperature': 26.05, 'windDirection': 332.39...
144  2024-03-27T18:00:00Z  {'temperature': 27.55, 'windDirection': 332.39...

[145 rows x 2 columns]
                startTime  values.temperature  values.windDirection  \
0    2024-03-21T18:00:00Z               23.00                233.88
1    2024-03-21T19:00:00Z               23.13                253.81
2    2024-03-21T20:00:00Z               23.31                269.19
3    2024-03-21T21:00:00Z               24.00                307.63
4    2024-03-21T22:00:00Z               24.00                319.88
..                    ...                 ...                   ...
140  2024-03-27T14:00:00Z               21.14                 87.47
141  2024-03-27T15:00:00Z               23.05                 87.47
142  2024-03-27T16:00:00Z               24.55                 87.47
143  2024-03-27T17:00:00Z               26.05                332.39
144  2024-03-27T18:00:00Z               27.55                332.39

     values.windSpeed
0                3.88
1                3.19
2                3.38
3                3.38
4                3.19
..                ...
140              1.32
141              0.92
142              1.87
143              2.82
144              3.77

[145 rows x 4 columns]
to_sql() done (sqlalchemy)
to_sql() done (sqlalchemy)

KeyError: 'data'